NEXT_PUBLIC_BASE_PATH=/student
NEXT_PUBLIC_API_BASE_URL=https://sgs.swais.in/api/student
NEXT_PUBLIC_LOGIN_URL=https://sgs.swais.in
NEXT_PUBLIC_LOGIN_SIGNOUT_URL=https://sgs.swais.in/api/auth/signout?callbackUrl=https%3A%2F%2Fsgs.swais.in
PORT=3004
